table {
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

td, th {
    padding: 0 5vw 0 5vw;
    text-align:center;
}

table tr:nth-of-type(odd) td {
    background-color: lightgray;
}

thead tr {
    background:#FFED86;
    font-size:16px;
}

tbody tr {
    border-bottom:1px solid #E3F1D5;
}

tbody tr:last-child {
    border:0;
}
